:root {
  --lavender-floral: #aa86e1ff;
  --wisteria: #b2a9e5ff;
  --grape: #5937c1ff;
  --rich-black: #0d0c1eff;
  --dark-purple: #221b38ff;
  --blue-violet: #8040f7ff;
}

.header {
  font-size: 2rem;
  font-weight: bold;
  color: var(--dark-purple);
  width: 100%;
  background-color: var(--blue-violet);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  position: absolute;
  top: 0;
  height: 60px;
  z-index: 2;
}
